<h3>Usuario: {{ user?.username }}</h3>

<ion-item>
    <ion-label position="stacked">Nombre Completo</ion-label>
    <ion-input [value]="user?.name + ' ' + user?.lastName" readonly></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Nivel de Educación</ion-label>
    <ion-input [value]="user?.educationLevel" readonly></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Fecha de Nacimiento</ion-label>
    <ion-input [value]="user?.birthDate" readonly></ion-input>
  </ion-item>

<ion-button expand="block" (click)="openEditModal()">Editar Datos</ion-button>