<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Experiencia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addExperience()">
    <ion-item>
      <ion-label position="stacked">Empresa</ion-label>
      <ion-input [(ngModel)]="empresa" name="empresa" placeholder="Ingrese el nombre de la empresa"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Año inicio</ion-label>
      <ion-input [(ngModel)]="anioInicio" name="anioInicio" type="number" placeholder="Ingrese el año de inicio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Actualmente trabaja aquí</ion-label>
      <ion-checkbox [(ngModel)]="trabajaActualmente" name="trabajaActualmente"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="!trabajaActualmente">
      <ion-label position="stacked">Año término</ion-label>
      <ion-input [(ngModel)]="anioTermino" name="anioTermino" type="number" placeholder="Ingrese el año de término"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cargo</ion-label>
      <ion-input [(ngModel)]="cargo" name="cargo" placeholder="Ingrese su cargo"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Agregar</ion-button>
  </form>
</ion-content>