<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="misDatos">
        Mis Datos
      </ion-segment-button>
      <ion-segment-button value="experienciaLaboral">
        Experiencia Laboral
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        Certificaciones
      </ion-segment-button>
    </ion-segment>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="selectedSegment=='misDatos'">

    
  </div>
  <div *ngIf="selectedSegment=='experienciaLaboral'">
    <app-experiencia-laboral></app-experiencia-laboral>
  </div>
</ion-content>
