#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  ion-button {
    flex: 1; // Hacer que los botones ocupen el mismo espacio
    margin-right: 5px; // Espacio entre los botones
  }

  ion-button:last-child {
    margin-right: 0; // Eliminar el margen derecho del último botón
  }
}